---
import ConverterColor from "@/components/ConverterColor";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="m-auto w-full max-w-7xl p-2">
    <div class="flex justify-center">
      <ConverterColor client:load />
    </div>
  </div>
</Layout>
