---
import Layout from "@/layouts/Layout.astro";
import ColorSelector from "@/components/ColorSelector";
import ExportModal from "@/components/ExportModal";
import ColorPalette from "@/components/ColorPalette";
import ImportModal from "@/components/ImportModal";
import SavedColors from "@/components/SavedColors";
import EditModal from "@/components/EditModal";
import AlternativeColorPalette from "@/components/AlternativeColorPalette";
---

<Layout>
  <div class="m-auto w-full max-w-7xl p-2">
    <div class="mt-16 mb-10 text-center">
      <h1 class="mb-2 text-5xl font-bold text-gray-800 dark:text-gray-100">
        Colors generator
      </h1>
      <p
        class="m-auto max-w-xl text-2xl text-balance text-gray-600 dark:text-gray-400"
      >
        Dale vida a tus diseños con paletas de colores únicas y armoniosas
      </p>
    </div>

    <div class="m-auto w-full max-w-xl px-6">
      <ColorSelector client:load />
    </div>
    <div class="mx-auto w-full max-w-5xl px-6">
      <SavedColors client:only="react" />
      <div class="flex justify-end gap-1">
        <ExportModal client:load />
        <ImportModal client:load />
        <EditModal client:load />
      </div>
      <ColorPalette client:load />
    </div>

    <div class="mx-auto w-full max-w-5xl px-6">
      <AlternativeColorPalette client:load />
    </div>
  </div>
</Layout>
