---
import MixerColor from "@/components/MixerColor";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="m-auto w-full max-w-7xl p-2">
    <MixerColor client:load />
  </div>
</Layout>
