---
import { Toaster } from "@/components/ui/sonner";
import "@/styles/globals.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ChromaticUI | Colors generator</title>
  </head>
  <body class="bg-gray-50">
    <div class="fixed -z-10 h-full w-full bg-transparent">
      <div
        class="absolute h-full w-full bg-[radial-gradient(#dcdcdc_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]"
      >
      </div>
    </div>
    <slot />
    <Toaster position="top-center" client:load />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
  }
</style>
